.button {
  padding: 10px;
  border-radius: 10px;
  background-color: transparent;
  color: inherit;
  border: 1px solid #be95be;
}

.disabled {
  background-color: #be95be7b;
  border: 1px solid #be95be7b;
}
